.publicRaceDeck {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.publicRaceDeckGrid {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(145px, 1fr) );
    gap: 12px;
}
